
/*
span .sprite a:link,
span .sprite a:visited{
 display:block; 
 text-indent:-9999px;
 background:url("../img/static3d_sprite.png") top left no-repeat; 
 }

span .chairs50 a:link,
span .chairs50 a:visited{
width:54px;
height:46px;
background:url("../img/static3d_sprite.png") top left no-repeat; 
}

span .chairs50 a:hover{
 background-position:-10px -682px; 
}

 
.chairs50 sprite a:link{ 
width:54px; height:46px; background-position:-10px -738px; 
}
.chairs100 sprite a:link{ 
width:54px; height:46px; background-position:-10px -682px; 
}


.sprite{
 background:url("../img/static3d_sprite.png") top left no-repeat; 
 }
.3d_off{ 
width:55px; height:46px; background-position:-10px -10px; 
}
.3d_on{ 
width:55px; height:46px; background-position:-10px -66px; 
}
.mentor_off{ 
width:54px; height:46px; background-position:-10px -122px; 
}
.mentor_on{
 width:54px; height:46px; background-position:-10px -178px; 
}
.workshop_off{ 
width:54px; height:46px; background-position:-10px -234px; 
}
.workshop_on{ 
width:54px; height:46px; background-position:-10px -290px; 
}
.dinner_off{ 
width:54px; height:46px; background-position:-10px -346px; 
}
.dinner_on{ 
width:54px; height:46px; background-position:-10px -402px; 
}
.conference_off{ 
width:54px; height:46px; background-position:-10px -570px; 
}
.conference_on{ 
width:54px; height:46px; background-position:-10px -626px; 
}
.chairs100_off{ 
width:54px; height:46px; background-position:-10px -458px; 
}
.chairs100_on{ 
width:54px; height:46px; background-position:-10px -514px; 
}
.chairs50_off{ 
width:54px; height:46px; background-position:-10px -682px; 
}
.chairs50_on{ 
width:54px; height:46px; background-position:-10px -738px; 
}
*/