body {
    background-color: #000000;
}


#navlist  {
position:relative;
}

#navlist  li {
margin:none;
padding:none;
list-style:none;
position: absolute;
top: 0px;
}

#navlist  li, #navlist  a{
height: 46px;
display: block; /* a breaker */
}

#chairs50 {
left: 0px;
width:54px; 
background:url("../img/static3d_spritev2.png") top left no-repeat; 
background-position:-10px -738px; 
}

#chairs50 a:hover {
background:url("../img/static3d_sprite.png") -10px -682px; 
}

#chairs100 {
left: 70px;
width:54px; 
background:url("../img/static3d_sprite.png") top left no-repeat; 
background-position:-10px -570px; 
}

#chairs100 a:hover {
background:url("../img/static3d_sprite.png") -10px -626px; 
}

#conference{
left: 142px;
width:54px; 
background:url("../img/static3d_sprite.png") top left no-repeat; 
background-position:-10px -514px; 
}

#conference a:hover {
background:url("../img/static3d_sprite.png") -10px -458px; 
}

#dinner{
left: 214px;
width:54px;  
background:url("../img/static3d_sprite.png") top left no-repeat; 
background-position:-10px -402px; 
}

#dinner a:hover {
background:url("../img/static3d_sprite.png") -10px -346px; 
}

#workshop{
left: 286px;
width:54px; 
background:url("../img/static3d_sprite.png") top left no-repeat; 
background-position:-10px -290px; 
}

#workshop a:hover {
background:url("../img/static3d_sprite.png") -10px -234px; 
}

#mentor{
left:358px; 
width:54px; 
background:url("../img/static3d_sprite.png") top left no-repeat; 
background-position:-10px -178px; 
}

#mentor a:hover {
background:url("../img/static3d_sprite.png") -10px -122px; 
}

#threed{
left:430px; 
width:55px; 
background:url("../img/static3d_sprite.png") top left no-repeat; 
background-position:-10px -66px; 
}

#threed a:hover {
background:url("../img/static3d_sprite.png") -10px -10px; 
}

#navbarplan {
right:55px; 
width: 121px;
height:101px;
background:url("../img/navbar_plan.png") no-repeat; 

}